<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen w-full bg-gray-800 p-12 text-center">
        <h1 class="text-4xl font-bold mb-12 text-white">Admin Panel</h1>
    
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6">
            <a href="{% url 'game_add' %}" class="px-6 py-4 rounded-xl border border-blue-400 text-blue-400 hover:bg-blue-400 hover:text-white transition shadow-lg">
                ➕ Add Game
            </a>
            <a href="{% url 'assign_group' %}" class="px-6 py-4 rounded-xl border border-green-400 text-green-400 hover:bg-green-400 hover:text-white transition shadow-lg">
                👥 Assign Group
            </a>
            <a href="{% url 'game_remove' %}" class="px-6 py-4 rounded-xl border border-red-400 text-red-400 hover:bg-red-400 hover:text-white transition shadow-lg">
                ❌ Remove Game
            </a>
            <a href="{% url 'games' %}" class="px-6 py-4 rounded-xl border border-white text-white hover:bg-white hover:text-gray-800 transition shadow-lg">
                🛒 View Store
            </a>
        </div>
    </div>
    
    
</body>
</html>
