<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin Panel</h1>
    {% if perms.app.can_add_game %}
        <h2>You can add games</h2>
    {% else %}
        <h2>You cannot add games</h2>
    {% endif %}

    {% if perms.app.can_delete_game %}
        <h2>You can delete games</h2>
    {% else %}
        <h2>You cannot delete games</h2>
    {% endif %}

    {% if perms.app.can_edit_game %}
        <h2>You can edit games</h2>
    {% else %}
        <h2>You cannot edit games</h2>
    {% endif %}

    <ul>
        <li>Total Orders: {{ total_orders }}</li>
        <li>Total Revenue: {{ total_revenue }}</li>
    </ul>
    <h2>Top 5 games</h2>
    <ol>
        {% for game in top_games %}
            <li>{{ game.title }} - {{ game.total_sales }} sales</li>
        {% endfor %}
    </ol>
    <h3>Recent Orders</h3>
    <ul>
        {% for order in recent_orders %}
            <li>Order ID: {{ order.id }}, Total Price: {{ order.total_price }}, Status: {{ order.status }}</li>
        {% endfor %}

</body>
</html>