<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наши игры</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-900 text-white min-h-screen p-6">
    {% load static %}

    <div class="flex justify-between items-center mb-6">
        <div class="flex items-center gap-2">
            {% if user.is_authenticated %}
                <span class="text-white mr-2">Hi, <strong>{{ user.username }}</strong>!</span>
    
                <a href="{% url 'profile' %}" class="px-3 py-1 rounded border border-blue-400 text-blue-400 hover:bg-blue-400 hover:text-white transition">
                    Profile
                </a>
    
                <form method="post" action="{% url 'logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="px-3 py-1 rounded border border-red-400 text-red-400 hover:bg-red-400 hover:text-white transition">
                        Logout
                    </button>
                </form>
    
                {% if is_admin %}
                    <a href="{% url 'admin' %}" class="px-3 py-1 rounded border border-white text-white hover:bg-white hover:text-gray-800 transition">
                        Admin Panel
                    </a>
                {% endif %}
            {% else %}
                <a href="{% url 'login' %}" class="px-3 py-1 rounded border border-green-400 text-green-400 hover:bg-green-400 hover:text-white transition">
                    Login
                </a>
                <a href="{% url 'register' %}" class="px-3 py-1 rounded border border-blue-400 text-blue-400 hover:bg-blue-400 hover:text-white transition">
                    Register
                </a>
            {% endif %}
        </div>
    
        <a href="/cart" class="px-4 py-2 rounded border border-blue-600 text-white hover:bg-blue-700 transition">
            🛒 Cart
        </a>
    </div>
    

    <h2 class="text-3xl font-bold mb-6">Our Games</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        {% for game in games %}
        <div class="bg-gray-800 p-4 rounded-lg shadow-lg text-center">
            <img src="{{ game.image.url }}" alt="{{ game.title }}" class="w-full h-40 object-cover rounded mb-3">
            <h3 class="text-xl font-semibold mb-2">{{ game.title }}</h3>
            <p class="mb-2">💵 Price: {{ game.price }} $</p>
            <a href="{% url 'game_details' game.id %}" class="inline-block mt-2 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
                Details
            </a>
        </div>
        {% endfor %}
    </div>
</body>
</html>